html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 40px;
}
main > .container {
    padding: 40px 15px 0;
  }
  
  .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    text-align: center;
 }

  iframe{
    width: 100%;
  }
  